<form action="" [formGroup]="employeeForm">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Last name</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="one">Masculino</mat-option>
          <mat-option value="two">Femenino</mat-option>
          <mat-option value="two">Tranvia</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Observations</mat-label>
        <textarea matInput formControlName="observations"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="onSaveEmployee()">Guardar</button>
</form>


  